services:
  db:
    image: mariadb:latest
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: mitienda
      MARIADB_USER: usuario
      MARIADB_PASSWORD: password123
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql

